<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="pb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between border-bottom px-5">
      <%= link_to 'Yelp', restaurants_path, class: 'navbar-brand' %>
      <%= link_to icon('fas', 'plus'), new_restaurant_path %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
